@model NorthWest.Domain.Entities.Product

          <div class="item">
              @if (Model.ImageData != null) {
                 <div style="float:left;margin-right:20px">
                 <img width="125" height="125" src="@Url.Action("GetImage", "Product",
                 new { Model.ProductID })" />
                 </div>
}
             <h3>Name: @Model.Name</h3>
             <p>@Model.Description</p>
             <p>Size: @Model.Size</p>
             <p>Stock left: @Model.Stock</p>
             @using(Html.BeginForm("AddToCart", "Cart")) {
                  @Html.HiddenFor(x => x.ProductID)
                  @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                  <input type="submit" value="+ Add to cart" />
             }
             <h4>@Model.Price.ToString("c")</h4>
           </div>

